@charset 'utf-8';
body,
.btn,
p {
  text-transform: capitalize ;
}
.alert-warning {
  display: none;
}
.errorBox {
  border-color: red;
}
.errorMsg {
  color: red;
}
/* 头像上传*/
.avatarLoad {
  position: relative;
}
.avatarLoad input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
