<%include ../_shared/header.html%>

<%
articles.forEach(function(article){ %>
<div class="panel panel-info">
    <div class="panel-heading"><a href="/article/article/<%=article.id%>"><%=article.title%></a> </div>
    <div class="panel-body">
        <%-article.content%>
        <p class="pull-right"> 作者:
            <a href="/article/articles?username=<%=article.user%>"><%=article.user%></a>
            <%if(article.time){%>
            发表日期: <%=article.time%>
            <%}%>
        </p>
    </div>
</div>

<% })
%>

<%include ../_shared/_pagination.html%>

<%include ../_shared/footer.html%>

