<%include ../_shared/header.html %>

<%if(locals.article){ %>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title"> 文章标题 <%= article.title||'' %> </h3>
    </div>
    <div class="panel-body">
       文章内容  <%= locals.article.content||'' %>
    </div>
    <ul class="list-group">
        <li class="list-group-item "> 文章作者 <%= article.user%>  </li>
        <li class="list-group-item ">发表日期: <%=article.time%></li>
        <%if(locals.article&&locals.article.updateTime){ %>
        <li class="list-group-item">
            更新时间 <%= article.updateTime%>
        </li>
        <%}%>
        <%if(locals.article&&locals.username==article.user){ %>
        <li class="list-group-item ">
            <button data-toggle="modal" data-target="#deleteModal" data-id="<%=article.id%>" class="btn btn-info btn-delete">删除该文章</button>
            <a  href="/article/article/<%=article.id%>" class="btn btn-default"> 编辑文章</a>
        </li>
        <%}%>


    </ul>


</div>

<%if(locals.article&&locals.username !=article.user){ %>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    添加评论
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <textarea name="comments" id="" cols="30" rows="10"></textarea>
            </div>
        </div>
    </div>
</div>
<%}%>
<%}%>






<%include ../_shared/deleteModal.html%>



<%include ../_shared/footer.html %>
<script>
    $('button.btn-delete').click(function () {
        var id =$(this).attr('data-id');
        deleteArt(id)
    })
</script>